<h2><%="The list \"#{@list.name}\" contains these tasks:" %></h2>
<ul>
<% @list.tasks.each do |task| %>
	<li><%= "#{task.description} -- #{task.report_status}" %></li>
<% end %>
</ul>

<%= link_to "Add a task", new_list_task_path(@list) %>