<h2 class="big">Your Lists</h2>

<table class="table">
	<tr>
		<td>List</td>
	</tr>
	<% @user.lists.each do |entry| %>
		<tr>
			<td><%= link_to entry.name, list_path(entry) %></td>
		</tr>
	<% end %>
</table>

<%= link_to "Create a new list", new_list_path, :class => "btn btn-primary move" %>
