<h1>Be more productive<br />with Toodledoodle</h1><br />

<h2>Here are your lists:</h2>
<table>
	<% @user.lists.each do |entry| %>
		<tr>
			<td><%= link_to entry.name, list_path(entry) %></td>
		</tr>
	<% end %>
</table>

<%= link_to "Create a new list", new_list_path %>